nav li a:hover{
    color: crimson;
}

.home{
    background: linear-gradient(rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0.9)), url('/assets/img/home-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    color: whitesmoke;
}

.home a{
    display: inline-block;
    background: crimson;
    color: whitesmoke;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 0.5rem;
    border: 0.1px solid crimson;
}
.home a:hover{
    color: crimson;
    transform: scale(1.05);
    background: none;
}

.home span:hover{
    color: crimson;
    transition: all 0.3s ease;
}

.services{
    color:#fff;
    background:  linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.5)), url('/assets/img/services-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 5rem;
    font-family: 'poppins', sans-serif;
}

section span:hover{
    color: crimson;
    transform: scale(1.05);
    transition: all 0.3s ease;   
}

.services .card {
    background: #222;
    text-align: center;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .card:hover{
    background: crimson;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.skills{
    color: whitesmoke;
    background:  linear-gradient(rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.9)), url('/assets/img/skills-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 5rem;
    font-family: 'poppins', sans-serif;
}

.skills h2 span{
    color: crimson;
    transition: all 0.3s ease;
}

.skills h4{
    color: crimson;
    transition: all 0.3s ease;
}

.skills .col span{
    font-weight: 500;
    font-size: 1.2;
}

.skills .info{
    align-items: center;
    justify-content: space-between;
}

.skills .line{
    height: 0.4rem;
    background: lightgrey;
    position: relative;
}

.skills .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.html::before{
    width: 80%;
}
.css::before{
    width: 60%;
}
.angular::before{
    width: 70%;
}
.js::before{
    width: 70%;
}
.sql::before{
    width: 60%;
}

.about{
    color:whitesmoke;
    background:  linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.5)), url('/assets/img/about-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 5rem;
    font-family: 'poppins', sans-serif;
}

.about .card{
    background: none;
}

.about img{
    border-radius: 0.5rem;
}

.contact{
    color:whitesmoke;
    background:  linear-gradient(rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.9)), url('/assets/img/contact-img.avif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 5rem;
    font-family: 'poppins', sans-serif;
}

.contact h2 span{
    color: crimson;
    transition: all 0.3s ease;
}

.contact .card{
    color: #222;
    border-radius: 0.5rem;
}

.contact input{
    border: none;
    border-radius: 0%;
    border-bottom: 0.1rem solid #222;
    outline: none;
    resize: none;
    box-shadow: none;
}

.contact .linkedin{
    text-decoration: none;
    color: whitesmoke;
}
.contact .linkedin:hover{
    color: crimson;
    transition: all 0.3s ease;   
}

fa-icon{
    color: whitesmoke;
    cursor: pointer;
}

fa-icon:hover{
    color: crimson;
}