<section>
  <div class="fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container fw-bold">
              <a class="navbar-brand fs-2" href="#">Portfo<span style="color: crimson;">lio.</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse fs-5" id="navbarText">
              <ul class="navbar-nav mb-2 mb-lg-0 ms-auto d-flex">
                  <li class="nav-item">
                      <a class="nav-link m-3" aria-current="page" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link m-3" href="#services">Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link m-3" href="#skills">Skills</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link m-3" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link m-3" href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
          </div>
      </nav>
  </div>
</section>

<section class="home d-flex justify-content-center align-items-center" id="home">
  <div class="container">
      <div class=" fw-bold">
          <div class="fs-3">Hello, my name is</div>
          <div class="fs-1">Sana Shaik</div>
          <div class="fs-2">And I'm a <span>Developer</span></div>
          <a href="#about" class="fs-3 mt-5 px-5" (click)="onSubmit()">Hire me</a>
      </div>
  </div>
</section>

<section class="services" id="services">
  <div class="container">
      <h2 class="text-center mb-5 fw-bold"><span>My Services</span></h2>
      <div class="row">
          <div class="col my-1">
              <div class="card p-3 m-4 h-100">
                  <div class="card-body">
                      <h4 class="card-title text-center m-3 fw-bold">Web Design</h4>
                      <p>Highly passionate and energetic professional with a valuable experience in designing and developing User Interfaces. Proven ability in handelling multiple tasks simultaneously. </p>
                  </div>
              </div>
          </div>
          <div class="col my-1">
              <div class="card p-3 m-4 h-100">
                  <div class="card-body">
                      <h4 class="card-title text-center m-3 fw-bold">Web Crawl</h4>
                      <p>Valuable professional experience in Web Scrapping and Data Storage. Decent knowledge on writing XPaths and Regular Expressions. </p>
                  </div>
              </div>
          </div>
          <div class="col my-1">
              <div class="card p-3 m-4 h-100">
                  <div class="card-body">
                      <h4 class="card-title text-center m-3 fw-bold">Transcription</h4>
                      <p>Professional experience in Australian and New Zealand Transcription. Ability to help clients with their requirement. Also, I've decent experience in AWS transcribe. </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="skills" id="skills">
  <div class="">
      <h2 class="text-center fw-bold"><span>My Skills</span></h2>
      <div class="row vw-100 fs-5">
          <div class="col m-5">
              <div><h4 class="text-center mb-3 fw-bold">My creative skills & experiences</h4></div>
              <p>I've worked on multiple projects applying my skills. I've a decent knowledge and valualble experience in HTML, CSS, Javascript, Angular and other relater skills. I'm an enthusiast who like to learn new skills and implement them on work.</p>
          </div>
          <div class="col m-5">
              <div class="info d-flex">
                  <span>HTML</span>
                  <span>80%</span>
              </div>
              <div class="line html"></div>
              <div class="info d-flex mt-2">
                  <span>CSS</span>
                  <span>60%</span>
              </div>
              <div class="line css"></div>
              <div class="info d-flex mt-2">
                  <span>Javascript</span>
                  <span>70%</span>
              </div>
              <div class="line js"></div>
              <div class="info d-flex mt-2">
                  <span>Angular</span>
                  <span>70%</span>
              </div>
              <div class="line angular"></div>
              <div class="info d-flex mt-2">
                  <span>SQL</span>
                  <span>60%</span>
              </div>
              <div class="line sql"></div>
          </div>
      </div>
      
  </div>
</section>

<section class="about" id="about">
  <div class="container">
      <h2 class="text-center fw-bold mb-5"><span>About Me</span></h2>
      <div class="row fs-5 d-flex justify-content-center">
          <div class="col-md-4 d-flex justify-content-center">
              <div class="" style="width: 15rem;">
                  <img src="assets/img/sana-img.jpg" class="img-fluid" alt="Sana">
              </div>
          </div>
          <div class="col-sm-6 pt-5">
              <div>
                  <h3 class="mb-2">I'm <span class="fw-bold">Sana Shaik</span></h3>
                  <p> I work as ML-Data Associate at Amazon. I started my career in the month of July, 2019. I've explored and experienced my journey at Amazon working on multiple projects.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="contact" id="contact">
  <div class="container">
      <div class="mb-5">
          <h2 class="text-center fw-bold mb-2"><span>Contact me</span></h2>
          <h5 class="text-center">For any work related queries, feel free to contact.</h5>
      </div>
      <div class="row justify-content-evenly align-items-center fs-5">
          <div class="col">
              <div class="mb-3 d-flex flex-row align-items-center">
                  <fa-icon [icon]="faAddressCard" size="2x"></fa-icon>
                  <div class="d-inline-block ms-5">
                      <h3 class="fs-3 fw-bold">Address</h3>
                      <p>Hyderabad, Telangana <br>India - 500084</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="mb-3 d-flex flex-row align-items-center">
                  <a href="https://www.linkedin.com/in/sana-afsia-shaik/"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a>
                  <div class="d-inline-block ms-5">
                      <h3 class="fs-3 fw-bold">Linkedin</h3>
                      <a href="https://www.linkedin.com/in/sana-afsia-shaik/" class="linkedin"><h5 class="fw-bold linkledin"> Go to my profile <span style="color: crimson"> >> </span></h5></a>
                  </div>
              </div>
          </div>
          <div class="col">            
              <div class="mb-3 d-flex flex-row align-items-center">
                  <a href="https://mail.google.com/mail/u/0/?fs=1&to=sanaafsia05@gmail.com&su=Message+from+Portfolio&body=&tf=cm"><fa-icon [icon]="faEnvelope" size="2x"></fa-icon></a>
                  <div class="d-inline-block ms-5">
                      <h3 class="fs-3 fw-bold">Email</h3>
                      <a href="https://mail.google.com/mail/u/0/?fs=1&to=sanaafsia05@gmail.com&su=Message+from+Portfolio&body=&tf=cm"><h6 class="fw-bold">sanaafsia05@gmail.com</h6></a>
                  </div>
                  <!-- <div class="d-inline-block ms-5">
                      <h3 class="fs-3 fw-bold">Email</h3>
                      <h5 class="fw-bold d-flex  "><a href="https://mail.google.com/mail/u/0/?fs=1&to=sanaafsia05@gmail.com&su=Message+from+Portfolio&body=&tf=cm">sanaafsia05@gmail.com</a></h5>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</section>